*{
  margin: 0;
  padding: 0;
  font-family: Roboto;
  text-align: center;
}
body {
  background-color: rgb(90, 197, 188);
}
.list {
  justify-content:center;
  display: flex;
  flex-wrap: wrap;
  padding: 35px;
  width:50%;
  margin: 10px auto;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.651);
}
.item {
  display:inline-block;
  padding: 3px 5px;
}